{% extends "template.html" %}
{% block content %}

<div class="testbox">
        <form method="POST">
    <h2 style="text-align:center">Please select a class that you would like to modify.</h2>
            <p style="text-align:center; color: darkred; size: 20px"><b><i>{{ error_message | safe }}</i></b></p>
            <hr/>


            <fieldset>
                <legend>Course Information</legend>
                <div class="item">
                    <div class="name-item">
                        <div>
                            <label for="course_id">Course ID (no space)<span>*</span></label>
                            <input type="text" name="course_id" placeholder="COP3502" maxlength="10" required/>
                        </div>
                        <div>
                            <label for="course_title">Course Title<span>*</span></label>
                            <input type="text" name="course_title" placeholder="Programming Fundamentals 1" maxlength="150" required/>
                        </div>
                    </div>
                </div>

            <div class="item">
                    <div class="name-item">
                        <div>
                            <label for="credits">Credits (Maybe not add)<span>*</span></label>
                            <input type="number" name="credits" value="3" min="0" max="9" required/>
                        </div>
                        <div>
                            <label for="department">Department offering course (Maybe not add)<span>*</span></label>
                            <input type="text" name="department" placeholder="CISE" maxlength="50" required/>
                        </div>
                    </div>
                </div>
                <hr>
                <p>Please note: It is recommended to have at least a few topics, but it is more than okay to leave many empty.</p>

            {{ topic_html | safe }}
            </fieldset>
            <input class="submit" style="background-color: #008CBA;width: 200px;" type="submit", name="submit_button" value="Submit New Course">
        </form>
</div>

            <script>
                let timer;
                let timerStart = Date.now();
                let timeSpentOnPage = 0;

                function startCounting(){
                        timerStart = Date.now();
                        timer = setInterval(function(){
                            timeSpentOnPage = (Date.now()-timerStart);
                            let timeSpentOnSiteSecond = parseInt(timeSpentOnPage/1000);
                            if (timeSpentOnSiteSecond > 2700){ // 2700
                                var answer = window.confirm("Your Session is about to end.\nDo you wish to continue?\nPress OK within 15 minutes to stay logged in.\nCancel to logout.");
                                if (answer){
                                    timerStart = Date.now();
                                    let request = new XMLHttpRequest();
                                    request.onload = function() {
                                          let requestStr = request.responseText;
                                          if (requestStr === "False"){
                                              alert("I apologize, but your session has timed out.");
                                              window.location.replace("{{ url_for('student_root') }}");
                                          }
                                      };
                                    request.open("GET", "/renew_session_lifetime", true);
                                    request.send();
                                }
                                else {
                                    //
                                    timerStart = Date.now();
                                    let request = new XMLHttpRequest();
                                    request.onload = function() {
                                    };
                                    request.open("GET", "/clear_session_lifetime", true);
                                    request.send();
                                    window.location.replace("{{ url_for('student_root') }}");
                                }
                        }},1000);
                }
                startCounting();

            </script>
{% endblock %}  >