{% extends "template.html" %}
{% block content %}

<div class="testbox">
        <form method="POST">
    <h2 style="text-align:center">Please select a class that you would like to modify.</h2>
            <p style="text-align:center; color: darkred; size: 20px"><b><i>{{ error_message | safe }}</i></b></p>
            <hr/>


            <fieldset>
                <legend>Course Information</legend>
                <div class="item">
                    <div class="name-item">
                        <div>
                            <label for="course_id">Course ID (Cannot Modify)</label>
                            <input type="text" name="course_id" value="{{ course_dict["CourseID"] | safe }}" readonly=/>
                        </div>
                        <div>
                            <label for="course_title">Course Title<span>*</span>: {{ course_title | safe}}</label>
                            <input type="text" name="course_title" value="{{ course_dict["CourseTitle"] | safe }}" maxlength="150" required/>
                        </div>
                    </div>
                </div>

            <div class="item">
                    <div class="name-item">
                        <div>
                            <label for="credits">Credits<span>*</span>: {{ credits | safe}}</label>
                            <input type="number" name="credits" value="{{ course_dict["Credits"] | safe }}" min="0" max="9" required/>
                        </div>
                        <div>
                            <label for="department">Department offering course<span>*</span>: {{ department | safe}}</label>
                            <input type="text" name="department" value="{{ course_dict["Department"] | safe}}" maxlength="50" required/>
                        </div>
                    </div>
                </div>
                <hr>
                <p>Please note: It is recommended to have at least a few topics, but it is more than okay to leave many empty.</p>

                {% for i in range(20) %}
                <div class="item">
                    <label for="topic{{ i + 1 }}">Topic{{i + 1}}{% if i ==1 %}<span>*</span>{% endif %}: {{course_topics[i]}}</label>
                    <input type="text" name="topic{{ i + 1 }}" value="{{course_topics[i]}}" maxlength="150">
                </div>
                {%  endfor %}

            </fieldset>
            <input class="submit" style="background-color: #008CBA;width: 200px;" type="submit", name="submit_button" value="Modify The Course">
        </form>
</div>




            <script>
                let timer;
                let timerStart = Date.now();
                let timeSpentOnPage = 0;

                function startCounting(){
                        timerStart = Date.now();
                        timer = setInterval(function(){
                            timeSpentOnPage = (Date.now()-timerStart);
                            let timeSpentOnSiteSecond = parseInt(timeSpentOnPage/1000);
                            if (timeSpentOnSiteSecond > 2700){ // 2700
                                var answer = window.confirm("Your Session is about to end.\nDo you wish to continue?\nPress OK within 15 minutes to stay logged in.\nCancel to logout.");
                                if (answer){
                                    timerStart = Date.now();
                                    let request = new XMLHttpRequest();
                                    request.onload = function() {
                                          let requestStr = request.responseText;
                                          if (requestStr === "False"){
                                              alert("I apologize, but your session has timed out.");
                                              window.location.replace("{{ url_for('student_root') }}");
                                          }
                                      };
                                    request.open("GET", "/renew_session_lifetime", true);
                                    request.send();
                                }
                                else {
                                    //
                                    timerStart = Date.now();
                                    let request = new XMLHttpRequest();
                                    request.onload = function() {
                                    };
                                    request.open("GET", "/clear_session_lifetime", true);
                                    request.send();
                                    window.location.replace("{{ url_for('student_root') }}");
                                }
                        }},1000);
                }
                startCounting();

            </script>



{% endblock %}  >